#eyes {
  transform: translateX(0);
  animation: eyes 3s linear infinite;
}

@keyframes eyes {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(8px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0);
  }
}

#ears {
  transform: translateY(0);
  transition: all .5s linear;
}

#bear:hover #ears {
  transform: translateY(-10px);
}
